<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtnBlueNormal</key>
            <dict>
                <key>frame</key>
                <string>{{700,8},{136,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,250}}</string>
                <key>sourceSize</key>
                <string>{136,250}</string>
            </dict>
            <key>BtnBluePressed</key>
            <dict>
                <key>frame</key>
                <string>{{700,152},{136,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,250}}</string>
                <key>sourceSize</key>
                <string>{136,250}</string>
            </dict>
            <key>BtnDisabled</key>
            <dict>
                <key>frame</key>
                <string>{{700,296},{136,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,250}}</string>
                <key>sourceSize</key>
                <string>{136,250}</string>
            </dict>
            <key>BtnNormal</key>
            <dict>
                <key>frame</key>
                <string>{{700,440},{136,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,250}}</string>
                <key>sourceSize</key>
                <string>{136,250}</string>
            </dict>
            <key>BtnPlayText</key>
            <dict>
                <key>frame</key>
                <string>{{958,392},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>BtnPlayText2</key>
            <dict>
                <key>frame</key>
                <string>{{958,468},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>BtnPressed</key>
            <dict>
                <key>frame</key>
                <string>{{700,584},{136,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,250}}</string>
                <key>sourceSize</key>
                <string>{136,250}</string>
            </dict>
            <key>ChoiceBg</key>
            <dict>
                <key>frame</key>
                <string>{{912,860},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>ChoiceCorrectBg</key>
            <dict>
                <key>frame</key>
                <string>{{958,8},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ChoiceSelectedBg</key>
            <dict>
                <key>frame</key>
                <string>{{958,136},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>CorrectBadge</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{934,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{934,338}}</string>
                <key>sourceSize</key>
                <string>{934,340}</string>
            </dict>
            <key>HomeBtn</key>
            <dict>
                <key>frame</key>
                <string>{{700,728},{224,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,204}}</string>
                <key>sourceSize</key>
                <string>{224,204}</string>
            </dict>
            <key>IncorrectBadge</key>
            <dict>
                <key>frame</key>
                <string>{{354,8},{934,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{934,338}}</string>
                <key>sourceSize</key>
                <string>{934,340}</string>
            </dict>
            <key>InputFieldBg</key>
            <dict>
                <key>frame</key>
                <string>{{912,728},{124,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,154}}</string>
                <key>sourceSize</key>
                <string>{124,154}</string>
            </dict>
            <key>PbBg</key>
            <dict>
                <key>frame</key>
                <string>{{318,950},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>PbProgress</key>
            <dict>
                <key>frame</key>
                <string>{{350,950},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>RateBtn</key>
            <dict>
                <key>frame</key>
                <string>{{8,950},{302,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,46}}</string>
                <key>sourceSize</key>
                <string>{302,46}</string>
            </dict>
            <key>TextArea</key>
            <dict>
                <key>frame</key>
                <string>{{958,264},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>assets.pvr.ccz</string>
            <key>size</key>
            <string>{1086,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fd40f20b1f5a8f12fac2ecdcc397bbe:ed5ccc63d0dbf2560b3bbc6228ac62d5:2a906fd2f5f1ecbcad642f2d09d221d1$</string>
            <key>textureFileName</key>
            <string>assets.pvr.ccz</string>
        </dict>
    </dict>
</plist>
