<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtnBlueNormal</key>
            <dict>
                <key>frame</key>
                <string>{{700,62},{136,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,250}}</string>
                <key>sourceSize</key>
                <string>{136,250}</string>
            </dict>
            <key>BtnBluePressed</key>
            <dict>
                <key>frame</key>
                <string>{{700,206},{136,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,250}}</string>
                <key>sourceSize</key>
                <string>{136,250}</string>
            </dict>
            <key>BtnDisabled</key>
            <dict>
                <key>frame</key>
                <string>{{700,350},{136,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,250}}</string>
                <key>sourceSize</key>
                <string>{136,250}</string>
            </dict>
            <key>BtnNormal</key>
            <dict>
                <key>frame</key>
                <string>{{700,494},{136,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,250}}</string>
                <key>sourceSize</key>
                <string>{136,250}</string>
            </dict>
            <key>BtnPlayText</key>
            <dict>
                <key>frame</key>
                <string>{{1010,8},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>BtnPlayText2</key>
            <dict>
                <key>frame</key>
                <string>{{932,782},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>BtnPressed</key>
            <dict>
                <key>frame</key>
                <string>{{700,638},{136,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,250}}</string>
                <key>sourceSize</key>
                <string>{136,250}</string>
            </dict>
            <key>ChoiceBg</key>
            <dict>
                <key>frame</key>
                <string>{{958,258},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>ChoiceCorrectBg</key>
            <dict>
                <key>frame</key>
                <string>{{958,390},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>ChoiceSelectedBg</key>
            <dict>
                <key>frame</key>
                <string>{{958,522},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>CorrectBadge</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{934,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{934,338}}</string>
                <key>sourceSize</key>
                <string>{934,340}</string>
            </dict>
            <key>HomeBtn</key>
            <dict>
                <key>frame</key>
                <string>{{700,782},{224,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,204}}</string>
                <key>sourceSize</key>
                <string>{224,204}</string>
            </dict>
            <key>IncorrectBadge</key>
            <dict>
                <key>frame</key>
                <string>{{354,8},{934,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{934,338}}</string>
                <key>sourceSize</key>
                <string>{934,340}</string>
            </dict>
            <key>InputFieldBg</key>
            <dict>
                <key>frame</key>
                <string>{{958,96},{124,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,154}}</string>
                <key>sourceSize</key>
                <string>{124,154}</string>
            </dict>
            <key>PbBg</key>
            <dict>
                <key>frame</key>
                <string>{{8,950},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>PbProgress</key>
            <dict>
                <key>frame</key>
                <string>{{40,950},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>RateBtn</key>
            <dict>
                <key>frame</key>
                <string>{{700,8},{302,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,46}}</string>
                <key>sourceSize</key>
                <string>{302,46}</string>
            </dict>
            <key>TextArea</key>
            <dict>
                <key>frame</key>
                <string>{{958,654},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>assets.pvr.ccz</string>
            <key>size</key>
            <string>{1090,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20376f0be405906e9131b11d0ea17cd0:265d0705ebd7df5e8f2861122536a745:2a906fd2f5f1ecbcad642f2d09d221d1$</string>
            <key>textureFileName</key>
            <string>assets.pvr.ccz</string>
        </dict>
    </dict>
</plist>
