<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtnBlueNormal</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{34,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,63}}</string>
                <key>sourceSize</key>
                <string>{34,63}</string>
            </dict>
            <key>BtnBluePressed</key>
            <dict>
                <key>frame</key>
                <string>{{89,67},{34,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,63}}</string>
                <key>sourceSize</key>
                <string>{34,63}</string>
            </dict>
            <key>BtnDisabled</key>
            <dict>
                <key>frame</key>
                <string>{{89,132},{34,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,63}}</string>
                <key>sourceSize</key>
                <string>{34,63}</string>
            </dict>
            <key>BtnNormal</key>
            <dict>
                <key>frame</key>
                <string>{{89,197},{34,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,63}}</string>
                <key>sourceSize</key>
                <string>{34,63}</string>
            </dict>
            <key>BtnPressed</key>
            <dict>
                <key>frame</key>
                <string>{{89,262},{34,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,63}}</string>
                <key>sourceSize</key>
                <string>{34,63}</string>
            </dict>
            <key>ChoiceBg</key>
            <dict>
                <key>frame</key>
                <string>{{89,368},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>ChoiceCorrectBg</key>
            <dict>
                <key>frame</key>
                <string>{{89,401},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>ChoiceSelectedBg</key>
            <dict>
                <key>frame</key>
                <string>{{89,434},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>CorrectBadge</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,85}}</string>
                <key>sourceSize</key>
                <string>{234,85}</string>
            </dict>
            <key>HomeBtn</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>IncorrectBadge</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{234,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,85}}</string>
                <key>sourceSize</key>
                <string>{234,85}</string>
            </dict>
            <key>InputFieldBg</key>
            <dict>
                <key>frame</key>
                <string>{{89,327},{31,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,39}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
            <key>PbBg</key>
            <dict>
                <key>frame</key>
                <string>{{32,474},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>PbProgress</key>
            <dict>
                <key>frame</key>
                <string>{{32,482},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>TextArea</key>
            <dict>
                <key>frame</key>
                <string>{{89,467},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>assets.pvr.ccz</string>
            <key>size</key>
            <string>{125,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:369383589bc1b250948d440efa8fc117:f4e1d3a99dd60fd79ff1f15d2d2458cf:2a906fd2f5f1ecbcad642f2d09d221d1$</string>
            <key>textureFileName</key>
            <string>assets.pvr.ccz</string>
        </dict>
    </dict>
</plist>
