<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtnBlueNormal</key>
            <dict>
                <key>frame</key>
                <string>{{551,8},{34,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,63}}</string>
                <key>sourceSize</key>
                <string>{34,63}</string>
            </dict>
            <key>BtnBluePressed</key>
            <dict>
                <key>frame</key>
                <string>{{601,50},{34,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,63}}</string>
                <key>sourceSize</key>
                <string>{34,63}</string>
            </dict>
            <key>BtnDisabled</key>
            <dict>
                <key>frame</key>
                <string>{{622,8},{34,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,63}}</string>
                <key>sourceSize</key>
                <string>{34,63}</string>
            </dict>
            <key>BtnNormal</key>
            <dict>
                <key>frame</key>
                <string>{{672,50},{34,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,63}}</string>
                <key>sourceSize</key>
                <string>{34,63}</string>
            </dict>
            <key>BtnPlayText</key>
            <dict>
                <key>frame</key>
                <string>{{576,64},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>BtnPlayText2</key>
            <dict>
                <key>frame</key>
                <string>{{841,8},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>BtnPressed</key>
            <dict>
                <key>frame</key>
                <string>{{693,8},{34,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,63}}</string>
                <key>sourceSize</key>
                <string>{34,63}</string>
            </dict>
            <key>ChoiceBg</key>
            <dict>
                <key>frame</key>
                <string>{{764,8},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>ChoiceCorrectBg</key>
            <dict>
                <key>frame</key>
                <string>{{782,47},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ChoiceSelectedBg</key>
            <dict>
                <key>frame</key>
                <string>{{803,8},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>CorrectBadge</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{234,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,85}}</string>
                <key>sourceSize</key>
                <string>{234,85}</string>
            </dict>
            <key>HomeBtn</key>
            <dict>
                <key>frame</key>
                <string>{{492,8},{56,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,51}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
            <key>IncorrectBadge</key>
            <dict>
                <key>frame</key>
                <string>{{250,8},{234,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,85}}</string>
                <key>sourceSize</key>
                <string>{234,85}</string>
            </dict>
            <key>InputFieldBg</key>
            <dict>
                <key>frame</key>
                <string>{{743,50},{31,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,39}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
            <key>PbBg</key>
            <dict>
                <key>frame</key>
                <string>{{551,50},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>PbProgress</key>
            <dict>
                <key>frame</key>
                <string>{{565,50},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>RateBtn</key>
            <dict>
                <key>frame</key>
                <string>{{492,72},{76,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,12}}</string>
                <key>sourceSize</key>
                <string>{76,12}</string>
            </dict>
            <key>TextArea</key>
            <dict>
                <key>frame</key>
                <string>{{820,46},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>assets.pvr.ccz</string>
            <key>size</key>
            <string>{866,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fd40f20b1f5a8f12fac2ecdcc397bbe:ed5ccc63d0dbf2560b3bbc6228ac62d5:2a906fd2f5f1ecbcad642f2d09d221d1$</string>
            <key>textureFileName</key>
            <string>assets.pvr.ccz</string>
        </dict>
    </dict>
</plist>
