<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtnBlueNormal</key>
            <dict>
                <key>frame</key>
                <string>{{1078,8},{68,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,125}}</string>
                <key>sourceSize</key>
                <string>{68,125}</string>
            </dict>
            <key>BtnBluePressed</key>
            <dict>
                <key>frame</key>
                <string>{{1211,8},{68,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,125}}</string>
                <key>sourceSize</key>
                <string>{68,125}</string>
            </dict>
            <key>BtnDisabled</key>
            <dict>
                <key>frame</key>
                <string>{{1344,8},{68,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,125}}</string>
                <key>sourceSize</key>
                <string>{68,125}</string>
            </dict>
            <key>BtnNormal</key>
            <dict>
                <key>frame</key>
                <string>{{1078,84},{68,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,125}}</string>
                <key>sourceSize</key>
                <string>{68,125}</string>
            </dict>
            <key>BtnPressed</key>
            <dict>
                <key>frame</key>
                <string>{{1211,84},{68,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,125}}</string>
                <key>sourceSize</key>
                <string>{68,125}</string>
            </dict>
            <key>ChoiceBg</key>
            <dict>
                <key>frame</key>
                <string>{{1344,84},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>ChoiceCorrectBg</key>
            <dict>
                <key>frame</key>
                <string>{{1414,84},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>ChoiceSelectedBg</key>
            <dict>
                <key>frame</key>
                <string>{{1484,78},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>CorrectBadge</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{467,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,170}}</string>
                <key>sourceSize</key>
                <string>{467,170}</string>
            </dict>
            <key>HomeBtn</key>
            <dict>
                <key>frame</key>
                <string>{{958,8},{112,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,102}}</string>
                <key>sourceSize</key>
                <string>{112,102}</string>
            </dict>
            <key>IncorrectBadge</key>
            <dict>
                <key>frame</key>
                <string>{{483,8},{467,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,170}}</string>
                <key>sourceSize</key>
                <string>{467,170}</string>
            </dict>
            <key>InputFieldBg</key>
            <dict>
                <key>frame</key>
                <string>{{1477,8},{62,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,77}}</string>
                <key>sourceSize</key>
                <string>{62,77}</string>
            </dict>
            <key>PbBg</key>
            <dict>
                <key>frame</key>
                <string>{{1026,118},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>PbProgress</key>
            <dict>
                <key>frame</key>
                <string>{{1026,138},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>TextArea</key>
            <dict>
                <key>frame</key>
                <string>{{958,118},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>assets.pvr.ccz</string>
            <key>size</key>
            <string>{1562,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89776203b2e8772dca5bd88dedb43ec2:b26ece7466c7240600e6c5d01b1eb76b:2a906fd2f5f1ecbcad642f2d09d221d1$</string>
            <key>textureFileName</key>
            <string>assets.pvr.ccz</string>
        </dict>
    </dict>
</plist>
